@import "tailwindcss";



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7c828a #f9fafb; /* thumb | track */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f9fafb; /* track */
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* thumb */
  border-radius: 9999px;
  border: 2px solid #f9fafb; /* optional: adds padding effect */
}
